<link rel="stylesheet" href="/css/treetable.css">
<div class="layui-fluid">

        <div class="layui-btn-group">
            <button class="layui-btn" id="btn-add-child" >添加菜单</button>
            <button class="layui-btn" id="btn-expand">全部展开</button>
            <button class="layui-btn" id="btn-fold">全部折叠</button>
            <button class="layui-btn" id="btn-refresh">刷新表格</button>
        </div>
        <table id="table1" class="layui-table" lay-filter="table1"></table>
    <!-- 操作列 -->
    <script type="text/html" id="oper-col">
        <div class="layui-btn-group">
        <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</button>
        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
        </div>
    </script>

</div>
<div class="box" id="editBtn" style="display: none">
    <form class="layui-form  edit_box" id="editForm" lay-filter="menu_form" style="margin-top: 10px" id="edit_box" action="">
        <input type="text" name="id" id="menuId" class="layui-input layui-hide">
        <div class="layui-form-item">
            <label class="layui-form-label">父菜单</label>
            <div class="layui-input-inline">
                <select name="pid" id="menuParent" lay-verify="required" >
                    <option value="0">根节点</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" id="menuTitle" lay-verify="required" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访问路径</label>
            <div class="layui-input-inline">
                <input type="text" name="path" id="menuPath" lay-verify="path" autocomplete="off" placeholder="请输入访问路径" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">页面路径</label>
            <div class="layui-input-inline">
                <input type="text" name="component" lay-verify="path" autocomplete="off" placeholder="请输入页面路径" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>


        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示序号</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" id="menuSort" lay-verify="number" autocomplete="off" placeholder="请输入显示顺序" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-inline">
                <input type="text" name="icon"  id="iconInput" lay-filter="iconInput" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">是否展开</label>
            <div class="layui-input-block">
                <input type="checkbox" name="open"  id="menuOpen" value="true"lay-skin="switch">
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否新标签页打开</label>
            <div class="layui-input-block">
                <input type="checkbox" name="blank" id="menuBlank" lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn xxx" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="resetBtn">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.config({
        base: '/js/'
    }).use(['iconPicker','treetable','jquery','table','layer','form','axios'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var treetable = layui.treetable;
        var form = layui.form;
        var axios = layui.axios;
        var iconPicker = layui.iconPicker;
        // 渲染表格
        var renderTable = function () {
            layer.load(2);
            treetable.render({
                treeColIndex: 1,//树形图标显示在第几列
                treeSpid: 0,//最上级的父级id
                treeIdName: 'id',//id字段的名称
                treePidName: 'pid',//pid字段的名称
                treeDefaultClose: false,//是否默认折叠
                treeLinkage: false,//父级展开时是否自动展开所有子级
                elem: '#table1',
                url: '/menu/listAll',
                page: false,
                cols: [[
                    {type: 'numbers'},
                    {field: 'title', title: '菜单名称'},
                    {field: 'id', title: 'id'},
                    {field: 'path', title: '访问路径'},
                    {field: 'icon', title: '图标',templet: '<div><i  class="layui-icon {{d.icon}}"></i></div>'},
                    {field: 'sort', title: '顺序号'},
                    {field: 'component', title: '页面路径'},
                    {field: 'open', title: '是否展开'},
                    {field: 'blank', title: '是否打开新页面'},
                    {templet: '#oper-col', title: '操作'}
                ]],
                done: function () {
                    layer.closeAll('loading');
                }
            });
        };

        renderTable();

        /*渲染图标选择器*/
        iconPicker.render({
            // 选择器，推荐使用input
            elem: '#iconInput',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false
            search: false,
            // 是否开启分页
            page: true,
            // 每页显示数量，默认12
            limit: 18,
            // 点击回调
            click: function (data) {
                //console.log(data);
                $('#iconInput').val(data.icon);
            }
        });

        /**
         * 选中图标 （常用于更新时默认选中图标）
         * @param filter lay-filter
         * @param iconName 图标名称，自动识别fontClass/unicode
         */
       // iconPicker.checkIcon('iconPicker', 'layui-icon-star-fill');
        $('#btn-expand').click(function () {
            treetable.expandAll('#table1');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#table1');
        });

        $('#btn-refresh').click(function () {
            renderTable();
        });

        $('#btn-add-child').click(function () {
            layer.open({
                type:1,
                title:'添加菜单',
                content:$('#editBtn'),
                area:['400px','600px'],
                success:function(layero) {
                    var mask = $(".layui-layer-shade");
                    mask.appendTo(layero.parent());
                    var url = '/menu/listAllParent';
                    var html = '<option value="0">根节点</option>';
                    axios.get(url)
                        .then(function (response) {
                            var menuData = response.data.data;
                            $.each(menuData,function (i,v) {
                                html += '<option value="'+v.id+'">'+v.title+'</option>';
                            })
                            $('#menuParent').empty().html(html);
                            //console.log( menuData)
                            form.render();
                        })
                        .catch(function (error) {

                        })
                }
            })
        });

        //监听工具条
        table.on('tool(table1)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
                deleteMenu(data);
            } else if (layEvent === 'edit') {
                editMenu(data);
            }
        });


        //监听提交
        form.on('submit(formSubmit)', function(data) {
            //如果id为空则为添加,否则为编辑
            if (data.field.id == ''){
                addMenu(data);
            } else {
                updateMenu(data);
            }
            return false;
        });
        //定义验证规则
        form.verify({
            //只有在子节点才必须输入
            path:function (value,item) {
                var pid = $('#menuParent').val();
                if(pid != 0 && value==""){
                    return '访问路径不能为空!';
                }
            }
        });
        //删除菜单
        function deleteMenu(data) {
            var msg = '';
            if (data.pid == 0){
                msg = '(包含其所有子菜单)';
            }
            layer.confirm('确认删除此菜单吗'+msg+'？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                var deletUrl = '/menu/delete/'+data.id;
                axios.delete(deletUrl).then(function (response) {
                    var resData = response.data;
                    if (resData.code == 0){
                        layer.msg("删除成功",{
                            icon:1,
                            end:function () {
                                renderTable();
                            }
                        });
                    }
                }).catch(function (reason) {

                })
            });
        }
        //编辑菜单
        function editMenu(data) {
            layer.open({
                type:1,
                title:'编辑菜单',
                content:$('#editBtn'),
                area:['400px','600px'],
                success:function(layero) {
                    var mask = $(".layui-layer-shade");
                    mask.appendTo(layero.parent());
                    var url = '/menu/listAllParent';
                    var html = '<option value="0">根节点</option>';
                    axios.get(url)
                        .then(function (response) {
                            var menuData = response.data.data;
                            $.each(menuData,function (i,v) {
                                html += '<option value="'+v.id+'">'+v.title+'</option>';
                            })
                            $('#menuParent').empty().html(html);
                            //赋值数据
                            form.val("menu_form", data);
                            //图标需要单独赋值
                            iconPicker.checkIcon('iconInput',data.icon);
                            form.render();
                        })
                        .catch(function (error) {
                            layer.msg('网络错误!', {icon: 5});
                        })
                }
            });
        }
        //添加菜单
        function addMenu(data) {
            var url = '/menu/add';
            axios.post(url, data.field).then(function (response) {
                var resData = response.data;
                layer.closeAll();
                if (resData.code == 0){
                    layer.msg("添加成功",{
                        icon:1,
                        end:function () {
                            $('#resetBtn').click();
                            renderTable();
                        }
                    });
                }
            }).catch(function (error) {
                layer.msg('网络错误!', {icon: 5});
            });
        }
        //更新菜单
        function updateMenu(data) {
            var url = '/menu/update';
            axios.put(url, data.field).then(function (response) {
                var resData = response.data;
                layer.closeAll();
                if (resData.code == 0){
                    layer.msg("修改成功",{
                        icon:1,
                        end:function () {
                            $('#resetBtn').click();
                            renderTable();
                        }
                    });
                }
            }).catch(function (error) {
                layer.msg('网络错误!', {icon: 5});
            });
        }
    });
</script>